* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.search{
    /* border: 2px solid black; */
    height: 50px;
    /* width: 300px; */


    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    position: relative;

}

.input{
    height: 50px;
    width: 50px;

    font-size: 18px;
    padding: 15px;
    outline: none;
    transition: width 0.8s ease;
}

.input-active{
    width: 300px;
}

/* button */

.btn-search{
    /* border: 2px solid black; */
    height: 50px;
    width: 50px;
    font-size: 24px;

    position: absolute;
    top: 0;
    right: 0;
}

.btn-search-active{
    transform: translate();
}